{
    "name": "{{ modWebdavVersion }}",
    "priority": 6,
    "waitDeploy" : true,
    "worker": true,
    "config": {
        "address": "webdav",
        "credentials": {
            "{{ webdavHost }}": {
                "username": "{{ webdavUsername }}",
                "password": "{{ webdavPassword }}",
                "insecure": true
            }
        }
    }
}